.header{
display: flex;
padding:1.5rem;
align-items: center;

.header--logo{
  flex:.05;
img{
  width: 8rem;
  height: 4rem;
  object-fit: contain;
}
}

.header--form{

  flex: .5;
  width: 100%;
  position: relative;
  input{
    height: 4.5rem;
    border: 1px solid #eee;
    background-color: #eee;
    width: 90%;
    border-radius: 50px;
   padding-left: 60px;
   font-size: 1.7rem;
  }
  input:hover{
    border:1px solid #ccc
  }
  .header--form-positionLeft{
    position: absolute;
    left: 2rem;
    width: 2.3rem;
    top:22%;
      opacity:.5
  }
    .header--form-positionRight{
      position: absolute;
      right: 4rem;
      width: 2.7rem;
      top:16%;
      opacity:.5
    }
}

.header--nav{
  display: flex;
  flex: .45;
  width: 100%;
  justify-content: space-around;
  align-items: center;

.header--nav-div{
  display: flex;
  justify-content: space-around;
  flex:.5;
  width: 100%;
  align-items: center;
  a{
    color: #000;
    opacity: .5;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .header--nav-flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    p{
      margin-top: 1.4rem;
      font-weight: bold;

color: #000;
            opacity: .5;
      a{
        color: #000;
            opacity: .5;
            text-decoration: underline;
      }
    }
  }
}

.header--nav-divider{
  border:1px solid #ccc;
  height: 2.5rem;
}

}


}


