<div class="container">
  <div class="login">
    <h2>Login to continue...</h2>

    <p *ngIf="error" class="login--error">{{ error }}</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="first-name">Email: </label>
      <input id="first-name" type="text" formControlName="email" />

      <label for="last-name">Password: </label>
      <input id="last-name" type="password" formControlName="password" />
      <button type="submit" mat-raised-button>
        {{ loading ? "loading..." : "Login" }}
      </button>
    </form>
    <div class="login--action">
      <p>Dont have an account? <a routerLink="/register">Register</a></p>
    </div>
    <div class="login--google">
      <button mat-stroked-button (click)="loginWithGoogle()">
        Login with google
      </button>
    </div>
  </div>
</div>
